.loseMessageContainer {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.loseMessage {
  border: 6px double red;
  color: red;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
}
