.keyboardContainer {
  background-color: gray;
  margin: 0 auto;
  width: fit-content;
  padding: 3px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
}

.keyboardKey {
  border-radius: 2px;
  margin: 1px;
  background-color: lightgray;
  cursor: pointer;
}

.keyboardKey:hover {
  background-color: gray;
}

.keyboardKey.used {
  background-color: gray;
  color: lightgray;
}

.backspace {
  background-color: red;
  color: white;
}

.backspace:hover {
  background-color: lightcoral;
}

.submit {
  width: 50%;
  height: 30px;
  background-color: greenyellow;
  color: black;
}

.submit:hover {
  background-color: lightgreen;
}
