.letter {
  display: inline-block;
  background-color: lightgray;
  height: 40px;
  width: 40px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  padding-top: 8px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: greenyellow;
}
