* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  color: green;
}

.container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
